@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
}

img{
    max-width: 100%;
}

.navbar{
    background:#4169e1;
}

.navbar .container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80%;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo{
    font-weight: bold;
    text-transform: uppercase;
    color: aqua;
}

ul {
    list-style: none;
     display: flex;
    gap: 1.75rem;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #ffff;
}

a:hover{
    opacity: 0.5;
}

