{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">                
    <title>HomeStay Project</title>
</head>
<body>
    <header>
        <nav class="navbar"> 
            <div class="container">
                <div class="logo">HomeStay Nepal</div>
    
                <ul>
                    <li class="navbar--items"><a href="#">Home</a></li>
                    <li class="navbar--items"> <a href="#">About</a></li>
                    <li class="navbar--items"> <a href="#footer">Contact</a> </li>
                </ul>
            </div>
        </nav>
    </header>
        
        {% block content %}
    
        {% endblock content %}
</body>

<footer id="footer">
    <b>You can reach us at: </b>
    <p>Email: homestay@gmail.com</p>
    <p>Address: Kathmandu, Nepal</p>
    <p>Contact No: 9841123456</p>

    <em>Copyright &copy; 2022, HomeStay Nepal.</em>
</footer>

</html>